version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres-container
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-15041976}
      POSTGRES_DB: ${POSTGRES_DB:-fastapi}
    ports:
      - "${DATABASE_PORT:-5433}:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mynetwork

  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-container
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
      - ENV=development
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DATABASE_PORT:-5433}/${POSTGRES_DB}
    command: >
      /bin/bash -c "until pg_isready -h db -p 5432 -U ${POSTGRES_USER}; do echo 'Aguardando o PostgreSQL...'; sleep 5; done; uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    networks:
      - mynetwork

networks:
  mynetwork:

volumes:
  postgres_data:
